

/* styling for everything not header     */
.bigContainer {
    display: flex;
    flex-direction: row;
}

/* City header styling  */
#headerCityinfo {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-between;
}

#headerCityinfo p {
    flex-grow: 1;
}

/*styling for the 5dayForecast */
    /*styling for bigger contair of forecast*/
.fivedayforcast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fivedayforcast p {
    border:1px;
    border-color: black;
    background-color: aqua;

}



.searchbar {
    width: 30%;
}

/* UVI styling  */
.favorableUV {
    background-color:green;

}

.moderateUV {
     background-color: yellow;

}

.severeUV {
    background-color: red;

}

