/*styling for header*/
header {
    align-items: center;

}

/* styling for everything not header     */
.bigContainer {
    display: flex;
    flex-direction: row;
}

main {
    max-width: 70%;
   }

.cityInfo {
    width: 70%;


}

/* City header styling  */
#headerCityinfo {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-between;
}

#headerCityinfo p {
    flex-grow: 1;
}

/*styling for the 5dayForecast */
    /*styling for bigger contair of forecast*/
.fivedayforcast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fivedayforcast p {
    border:1px;
    border-color: black;
    background-color: aqua;

}


/* styling for the aside tag (class search bar)*/
.searchbar {
    max-width: 30%;
}

/* UVI styling  */
.favorableUV {
    background-color:green;
    color: white;
}

.moderateUV {
    background-color: yellow;
    color: black;
}

.severeUV {
    background-color: red;
    color: white;
}

